<header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->
			    <nav class="navbar navbar-default">
		        <div class="navbar-header">
		        	<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		          	<a class="navbar-brand" href="../index.php"><img src="img/logolaser.png" class="img-responsive" style="width:45%; height:auto;"></a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li class="active"><a href="#" data-nav-section="home"><span>Inicio</span></a></li>
		            <li><a href="#" data-nav-section="about"><span>Quiénes somos</span></a></li>
		            <li><a href="#" data-nav-section="information"><span>Información</span></a></li>
		            <li><a href="#" data-nav-section="contact"><span>Contactos</span></a></li>
		            <li><a href="#" data-nav-section="press"  data-toggle="modal" data-target="#myModal"><span>&#124;&nbsp;&nbsp;Iniciar sesión</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" style="margin-top:50px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <form align="center" autocomplete="off">
             <div class="form-group">
                <input type="text"style="width:100%; border-radius:5px" placeholder="Usuario o num.Telf.Celular" class="form-control">
             </div>
             <div class="form-group">
                <input type="password"style="width:100%; border-radius:5px" placeholder="Contraseña" class="form-control">
            </div>
        </form>
          <a href="sesion/perfil.php" class="btn btn-send " style="width:100%;">Iniciar sesión</a>
          <br><br>
          <center>
           <a href="#" data-toggle="modal" data-target="#myModalclave" style="width:100%; text-decoration:none; color:#e04e01;">Olvide mi contraseña</a>
            <br><br>
              <b style="color:grey" align="center">¿Aún no tienes una cuenta?</b><br>
              <a href="#" data-toggle="modal" data-target="#myModalcuenta" style="width:100%; text-decoration:none; color:#3394db;">Crear cuenta</a>
          </center>
      </div>
    </div>

  </div>
</div>

<!-- Modal Cuenta-->
<div id="myModalcuenta" class="modal fade" role="dialog" style="margin-top:50px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <form align="center" autocomplete="off">
             <div class="form-group">
                <input type="text"style="width:100%; border-radius:5px" placeholder="Nombre" class="form-control">
             </div>
            <div class="form-group">
                <input type="text"style="width:100%; border-radius:5px" placeholder="Apellido" class="form-control">
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Masculino"> Masculino
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Femenino"> Femenino
                </label>
             </div>
             <div class="form-group">
                <input type="email"style="width:100%; border-radius:5px" placeholder="Correo electrónico" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="password"style="width:100%; border-radius:5px" placeholder="Contraseña" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="password"style="width:100%; border-radius:5px" placeholder="Repetir contraseña" class="form-control">
            </div>
            <div class="form-group">
                <p style="color:#e04e01;font-size:15px">* Por favor confirma los datos antes de seguir, asegurate de ser datos reales y verdaderos</p>
            </div> 
            
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Acepto las <a style="text-decoration:none;" href="#"><b style="color: #3394db;">condiciones de uso</b></a>
                </label>
            </div>
          </form>
          <a href="/sesion/perfil.php" class="btn btn-send " style="width:100%;">Siguiente</a>
          <br><br>
      </div>
    </div>

  </div>
</div>

<!-- Modal Olvide-->
<div id="myModalclave" class="modal fade" role="dialog" style="margin-top:50px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <form align="center" autocomplete="off">
             <div class="form-group">
                <input type="text"style="width:100%; border-radius:5px" placeholder="Usuario o num.Telf.Celular" class="form-control">
             </div>
        </form>
          <a data-toggle="modal" data-target="#myModalrecuperar" class="btn btn-send " style="width:100%;">Recuperar contraseña</a>
          <br><br>
      </div>
    </div>

  </div>
</div>

<!-- Modal Recuperar-->
<div id="myModalrecuperar" class="modal fade" role="dialog" style="margin-top:50px;">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <center>
            Ha sido enviado un correo de recuperación de contraseña a su correo anteriormente registrado  
        </center>
      </div>
    </div>

  </div>
</div>
